{% extends 'base.html' %}

{% block title %} Madlibs Form {% endblock %}

{% block content %}
<h1>Madlibs Form</h1>
<form action="/story">
    <p>place:<input type="text" placeholder="place" name="place"></p>
    <p>noun:<input type="text" placeholder="noun" name="noun"></p>
    <p>verb:<input type="text" placeholder="verb" name="verb"></p>
    <p>adjective:<input type="text" placeholder="adjective" name="adjective"></p>
    <p>plural_noun:<input type="text" placeholder="plural_noun" name="plural_noun"></p>
    <button>Submit!</button>
</form>

{% endblock %}